[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"

[packages]
numpy = "*"
pyre-check = "*"
plotly = "==2.7.0"

[requires]
python_version = "3.6"
